<!DOCTYPE html>
<html>
<head>
  <title>Tabla de puntuaciones más altas</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  <style>
    @font-face {
      font-family: 'Neon';
      src: url('/fonts/neon2.ttf');
    }
    body {
      margin-top: 160px;
      background-image: url('/img/bg4.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      font-family: 'Neon', sans-serif;
    }
    h1{
      font-size: 60px;
    }
    h1, h2, th, td {
      color: white;
    }
    .btn-primary {
      width: 200px;
      font-size: 20px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;
      background-color: transparent !important;
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #00eeff, 0 0 20px #00eeff, 0 0 25px #00eeff, 0 0 30px #00eeff, 0 0 35px #00eeff !important;
    }
    .btn-primary:hover {
      transform: scale(1.05);
      box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00eeff, 0 0 40px #00eeff, 0 0 50px #00eeff, 0 0 60px #00eeff, 0 0 70px #00eeff !important;
    }
  </style>
</head>
<body>
  <div class="container mt-5 text-center">
    <h1>Highscores</h1>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Score</th>
          <th scope="col">Time</th>
        </tr>
      </thead>
      <tbody>
        <% leaderboard.forEach((entry, index) => { %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= entry.playerName %></td>
            <td><%= entry.score %></td>
            <td><%= entry.timeTaken %>s</td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <br>
    <br>
    <a href="/" class="btn btn-primary">Main menu</a>
  </div>
</body>
</html>
